<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
  
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Registro de usuario</h2>
              <form role="form" [formGroup]="registerForm" *ngIf="registered == false">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-12 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="fullname">Full name</label>
                      <input formControlName="fullName" type="text" id="fullname" class="form-control" [ngClass]="{'error': isTouchedField(registerForm,'fullName')}" />
                      <span class="text-danger">{{ getErrorForm('fullName')}}</span>
                    </div>
                  </div>
                </div>
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="cedidentificacion">Cedula de identificacion</label>
                  <input formControlName="cardId" type="text" id="cedidentificacion" class="form-control" [ngClass]="{'error': isTouchedField(registerForm,'cardId')}" />
                  <span class="text-danger">{{ getErrorForm('cardId')}}</span>
                </div>

                 <!-- Email input -->
                 <div class="form-outline mb-4">
                  <label class="form-label" for="email">Email</label>
                  <input formControlName="email" type="text" id="email" class="form-control" [ngClass]="{'error': isTouchedField(registerForm,'email')}" />
                  <span class="text-danger">{{ getErrorForm('email')}}</span>
                </div>


                <!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="cellphone">Numero de celular</label>
                  <input formControlName="numberCellPhone" type="text" id="cellphone" class="form-control" [ngClass]="{'error': isTouchedField(registerForm,'numberCellPhone')}"  />
                  <span class="text-danger">{{ getErrorForm('numberCellPhone')}}</span>
                </div>

  
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Acepto terminos y condiciones
                  </label>
                </div>
  
                <!-- Submit button -->
                <button (click)="register()" type="submit" class="btn btn-primary btn-block mb-4">
                  Registrarse
                </button>
  
                <!-- Register buttons -->
                <div class="text-center">
                  <p>Si ya te encuentras registrado:</p>
                  <a routerLink="../inicio-sesion">Da click aqui</a>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              </form>
              <div *ngIf="registered == true">
                  <p>Registro exitoso, su contraseña predeterminada es:</p>
                  <h3>{{ passwordGenerated}}</h3>
                  <p>Guardela en un lugar seguro y recuerdela, no la puede recuperar</p>
                  <p>Inicie sesión</p>
                   <a routerLink="../inicio-sesion">Aquí</a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="https://st1.uvnimg.com/d1/f3/8e7325e64441883e4c135a61dddd/los-mejores-carros-2022.jpg" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->